/*--- BLOG PAGE BEGIN ---*/
.featured-post-wrapper .feature-post-img {
    transition: ease-in-out 1s;
}
.featured-post-wrapper:hover .feature-post-img {
    transform: scale(1.2);
}
/*--- NAVIGATION BEGIN ---*/
div#logo-wrapper {
    max-width: 275px;
}
.w-nav-link.w--current {
    color: #fff;
}